

<label>Add File Excel</label>
    <form id="frmUpload" action="?module=IPImporter&action=upload" method="post" target="upload_target"  enctype="multipart/form-data" style="margin-top: 10px;margin-bottom: 20px">
        <input id="fileupload" name="fileupload" type="file">
        <input id="btnUpload" type="submit" value="Upload">
    </form>
    <iframe src="" name="upload_target" id="upload_target" width="100%" height="400" frameborder="0"></iframe>